/**{
	margin: 0;
	padding: 0;

}
*/
@import url('https://fonts.googleapis.com/css?family=Muli');
.rodapé{
	width:100vw;
}
li{
	background-color: #FFFFFF;

}

.paragrafo{
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Muli', sans-serif;

}
@media(max-width: 640px){
	.paragrafo{
		font-size: 20px;
	}
}
.paragrafo-tel{
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}
.paragrafo-face{
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}
.paragrafo-h3{
	color: #FFFFFF;
	font-family: 'Muli', sans-serif;

}
@media(max-width: 640px){
	.paragrafo-h3{
		font-size: 23px;
		margin: 0;
		padding: 2px;
		margin-bottom: 2%;
	}
}
.parceiros-footer{
	color: #13007C;
	margin-left: 8%;
	margin-right: 80px;
	font-family: 'Muli';

}
@media(max-width: 640px){
	.parceiros-footer{
		font-size: 27px;
		width: 5%;

	}
}
.parceiros-img{
	width: 72px;
	height: 30px;
	margin: 18px;
}
@media(max-width: 640px){
.parceiros-img{
	width: 20%;
	/*margin: 10px;*/
	/*display: flex;
	flex-wrap: wrap;*/
}	
}
.caixa-contato{

}
@media(max-width: 640px){
	.caixa-contato{
		width: 100%;
	}
}

.parceiros{
	width: 100vw;
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	align-items: center;
	margin: 20px;
	justify-content: center;
	

}
@media(max-width: 640px){
.parceiros{
	width: 100vw;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
}
}

.paragrafo-link{
	color: #FFFFFF;
	text-decoration: none;
	justify-content: flex-end;
	font-family: 'Muli', sans-serif;
}
@media(max-width: 640px){
	.paragrafo-link{
		font-size: 22px;
	}
}
.contatos{
	width: 100vw;
	display: flex;
	/*align-items: center;*/
	/*justify-content: space-between;*/
	background-color:#13007C;

}
@media(max-width: 640px){
.contatos{
	display: flex;
	flex-wrap: wrap;
}
}
.caixa-h1{
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	margin-left: 19.5%;
	margin-top:22px;
	font-family: 'Muli'black;

}
@media(max-width: 640px){
	.caixa-h1{
		margin-left: 35px;
	}
}
.caixa1{
	width: 100vw;
	margin-left: 18%;
}
@media(max-width: 640px){
	.caixa1{
		margin-left:35px;
	}
}
.caixa-link{
	width: 100%;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10%;

}
@media(max-width: 640px){
	.caixa-link{
		border-left: 4px solid  #FFFFFF;
		border-left-style: dotted;
		padding-left: 16px;
		margin-top: 2%;
		margin-bottom: 8%;
		margin-left: 35px;
	}
}
